@media (max-width: 430px) {
    .home_swiper_main_subtitle {
        font-size: 16px;
    }
    .home_swiper_main_title {
        font-size: 21px;
        margin: 4px auto;
    }
    .home_swiper_main_content {
        font-size: 10px;
    }
    .home_swiper_main_img {
        height: 110px;
        width: 110px;
    }
    .home_swiper_main_btn {
        padding: 8px 40px;
        font-size: 12px;
    }
    .home-swiper-pagination.swiper-pagination {
        bottom: 120px;
    }
    .home-swiper-button {
        width: 30px;
        height: 30px;
    }
    .home-swiper-button::after {
        font-size: 12px;
    }
    .home_swiper_link_btn {
        bottom: 60px;
    }
    .menu_background_top {
        width: 600px;
        height: 600px;
        left: -250px;
        top: -350px;
        border: 80px solid #EE965B;
    }
    .menu_swiper_item_main_subtitle {
        font-size: 14px;
    }
    .menu_swiper_item_main_tags_item {
        font-size: 10px;
        padding: 4px;
    }
    .menu_swiper_item_main_price {
        font-size: 18px;
    }
    .menu_swiper_item_main_title {
        font-size: 24px;
    }
    .thumbs-swiper {
        font-size: 10px;
    }
    .promotion_title {
        font-size: 26px;
    }
    .prmotion_header {
        padding: 0;
        height: 140px;
    }
    .banquet_container_img_gr1 {
        flex-direction: column;
    }
    .banquet_container_img_gr2 {
        flex-direction: column-reverse;
    }
    .banquet_container_img_subgroup {
        flex-direction: row;
    }
    .banquet_container_img_single {
        width: 100%;
    }
    .banquet_container_img_double {
        width: 48%;
    }
}